<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-language" content="en-us" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="copyright" content="&copy; YS Twitter Top Links 2015" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.min.js' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer class="text-center">
      <span>&#169; Yourstory, 2015</span>
</footer>
</body>
</html>
